<template name="layout">
  <head>
    <title>restored-prints</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    {{> navbar}}
    <div class="container">
      <div class="row" style="margin-bottom: 0; margin-top: 20px;"></div>
      {{#if Template.subscriptionsReady}}
      <div class="row">
        {{> Template.dynamic template=main}}
      </div>
      {{else}}
        {{> preloader}}
      {{/if}}
    </div>
  </body>
</template>